$colorBgMain: #F8F8F8;
$colorPrimary: #F4E041;
$colorSelectors: #00BDD3;
$colorPlaceholdersGrey: #7E7E7E;
$colorTextsMain: #000;
$colorTextsSecondary: #FFF;
$headerHeight: 60px;
$colorBgButton: #F4E041;
$colorBgHoverButton: #FFE302; 
$colorBgInactiveButton: #B4B4B4;
$colorTextInputActive: rgba(0, 0, 0, 0.87);
$colorError: #CB3D40;
